body{
	background-size: cover;
}

.verseCotainer{
	position: fixed;
	background-color:rgba(0,0,0,0.2); 
	height: 100%;
	width: 100%;
}

.verse{
	padding-top:15%;
	text-align: center;
	color:white;
	width:75%;
    margin:auto;
}

.book{
	text-align: right;
}
